[Ll]ibrary/
[Tt]emp/
[Oo]bj/

# Ignore the following file extensions
*.DS_Store
*.exe
*.so
*.vcproject
*.sln
*.csproj
*.unityproj
*.pidb
*.userprefs
=======
*.vcproject
*.sln
=======
Temp
Library
build
Game_Data